* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1320px) {
    .header__middle__right {
        display: none;
    }

    .header__middle__left {
        width: auto;
    }

    .navigation {
        justify-content: center;
    }

    .home__promo img {
        width: 500px;
        height: 304px;
    }

    h1 {
        font-size: 30px;
    }

    .warum__wir__middle h3 {
        font-size: 20px;
    }

    .warum__wir__bottom p {
        font-size: 18px;
    }

    .deinstleistungen__promo img {
        width: 400px;
        height: 160px;
    }

    .deinstleistungen__promo h2 {
        font-size: 26px;
    }

    iframe {
        width: 80%;
        height: 255px;
    }

    .kontaktieren__sie__uns__content__right {
        width: 100%;
        height: 255px;
    }

    .form {
        width: 100%;
        height: 255px;
    }

    .form__middle textarea {
        height: 89px;
    }

    .checkbox p {
        font-size: 14px;
    }

    .send__btn {
        width: 100%;
        height: 28px;
    }

    .header__contact__right h3 {
        font-size: 16px;
    }

    .header__contact__right p {
        font-size: 16px;
    }

    .footer__right h4 {
        font-size: 16px;
    }
}

@media screen and (max-width: 1120px) {
    .warum__wir__middle h3 {
        font-size: 18px;
    }

    h1 {
        font-size: 28px;
    }

    .deinstleistungen__promo img {
        width: 350px;
        height: 140px;
    }

    .deinstleistungen__promo h2 {
        font-size: 22px;
    }

    iframe {
        width: 80%;
        height: 205px;
    }

    .kontaktieren__sie__uns__content__right {
        width: 80%;
        height: 205px;
    }

    .form {
        height: 205px;
    }

    .form__middle textarea {
        height: 50px;
    }

    .checkbox p {
        font-size: 12px;
    }

    .send__btn {
        width: 100%;
        height: 24px;
    }

    .form__top input::placeholder {
        font-size: 12px;
    }

    .form__middle textarea::placeholder {
        font-size: 12px;
    }

    .footer__end__left p {
        font-size: 14px;
    }

    .footer__end__right img {
        height: 15px;
    }
}

@media screen and (max-width: 1020px) {
    .warum__wir__middle h3 {
        font-size: 16px;
    }

    .home__promo h1 {
        font-size: 24px;
    }

    .home__promo img {
        width: 400px;
        height: 273px;
    }
}

@media screen and (max-width: 960px) {
    .checkbox p {
        font-size: 12px;
    }

    .checkbox input {
        width: 12px;
        height: 12px;
    }

    .footer__content h1 {
        font-size: 24px;
    }

    .footer__left p {
        font-size: 10px;
    }

    .footer__right h4 {
        font-size: 14px;
    }

    .header__contact__right h3 {
        font-size: 14px;
    }

    .header__contact__right p {
        font-size: 14px;
    }

    .footer__left {
        display: none;
    }

    .footer__right h4 {
        font-size: 14px;
    }

    .footer__right {
        width: 150%;
    }

    .footer__center li a {
        font-size: 14px;
    }

    .footer__content {
        column-gap: 100px;
    }
}

@media screen and (max-width: 900px) {
    .warum__wir__middle {
        flex-direction: column;
    }

    .vl {
        transform: rotate(90deg);
    }

    .home__promo img {
        display: none;
    }

    .home__promo h1:after {
        content: "ASN Gebäudemanagement";
    }

    .navigation {
        display: none;
    }

    .header__bottom {
        justify-content: right;
    }

    .header__bottom img {
        display: block;
    }

    .warum__wir__bottom p {
        text-align: justify;
    }

    .footer__center li a {
        text-decoration: underline;
    }

}

@media screen and (max-width: 820px) {
    .deinstleistungen__content {
        grid-template-columns: 1fr;
    }

    .kontaktieren__sie__uns__content {
        flex-direction: column;
    }

    .kontaktieren__sie__uns__content__right {
        margin-top: 50px;
    }
}

@media screen and (max-width: 690px) {
    .footer__content h1 {
        font-size: 22px;
    }

    .footer__left p {
        font-size: 10px;
    }

    .footer__right h4 {
        font-size: 12px;
    }

    .header__contact__right h3 {
        font-size: 12px;
    }

    .header__contact__right p {
        font-size: 12px;
    }

    .footer__left {
        display: none;
    }

    .footer__right h4 {
        font-size: 12px;
    }

    .footer__right {
        width: 120%;
    }

    .footer__center li a {
        font-size: 14px;
    }

    .footer__content {
        column-gap: 100px;
    }

    .footer__end__left p {
        font-size: 12px;
    }

    .header__top p:after {
        content: "ASN";
    }
}


@media screen and (max-width: 570px) {
    .footer__content h1 {
        font-size: 20px;
    }

    .footer__right h4 {
        font-size: 11px;
    }

    .header__contact__right h3 {
        font-size: 11px;
    }

    .header__contact__right p {
        font-size: 11px;
    }

    .footer__left {
        display: none;
    }

    .footer__right h4 {
        font-size: 11px;
    }

    .footer__right {
        width: 120%;
    }

    .footer__center li a {
        font-size: 13px;
    }

    .footer__content {
        column-gap: 80px;
    }

    .footer__end__left p {
        font-size: 11px;
    }

    .scroll__to__top button {
        right: 40px;
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 510px) {
    h1 {
        font-size: 22px;
    }

    .footer__content h1 {
        font-size: 20px;
    }

    .footer__right h4 {
        font-size: 9px;
    }

    .footer__right {
        display: none;
    }

    .footer__center li a {
        font-size: 12px;
    }

    .footer__content {
        column-gap: 80px;
    }

    .footer__end__left p {
        font-size: 11px;
    }

    .footer__end__left p {
        font-size: 9px;
    }

    iframe {
        width: 100%;
    }

    .kontaktieren__sie__uns__content {
        width: 80%;
    }

    .kontaktieren__sie__uns__content__right {
        width: 100%;
        height: 205px;
    }

}